main {
    width: 100%;
    background-color: grey;
}

.main-imgage {
    width: 80%;
    text-align: center;
    padding-bottom: 50px;
}
div.grid {
    display: inline;
}

.grid img {
    width: 23%;
    height: 20%;
    border-radius: 50%;
    border: 50px solid black;;
}