main {
    width: 100%;
    background-color: grey;
}

#main-image {
    display: block;
    margin: 0 auto;
    width: 100%;
}

div.imgage {
    width: 100%;
    border: 10px solid black;
}
div.grid {
    display: inline-block;
    text-align: center;
}

.grid img {
    width: 22%;
    height: 15%;
    border-radius: 50%;
    border: 10px solid #343535;
    margin: 30px;
}